.mostrar{
    background-color: pink;
    margin-top: -15px;
    text-align: left;
            
}
div h1 {
    background-color: red;
    text-align: center;
}
.diseño{
    text-align: center;
    color: red;
    background-color: yellow;
    margin-top: 170px;

}