.mostrar{
    background-color: pink;
    text-align: left;
    margin-top: -15px;
}
div h1 {
    background-color: red;
    text-align: center;
}
.diseño{
    text-align: center;
    color: red;
    background-color: yellow;
}
img{
    width: 130px;
    height: 130px;
}