.mostrar{
    background-color: pink;
    margin-top: -15px;
    text-align: left;
}
div h1 {
    background-color: red;
    text-align: center;
}
.diseño{
    text-align: center;
    background-color: yellow;
    margin-top: 0%;

}
img {
    padding: 45px;
    width: 260px;
    height: 260px;
    border-radius: 20%;
    object-fit: cover;
    align-items: center;
    
}